.btn--primary {
    background-color: var(--color-btn-primary);
    border: none;
    color: var(--color-btn-text-primary);
    font-size: 1rem;
    font-family: var(--font-family);
    max-height: 40px;
    min-width: fit-content;
    max-width: 300px;
    padding: 1rem 3rem;
    border-radius: var(--radius-primary);
}