/******************************************************************************
The styles in this section do some minimal CSS resets, set default fonts and 
colors. Styles in this section were adapted from/added to Glitch's default hello-world styles
******************************************************************************/
/* Default values set as CSS variables */
:root {
  --color-bg: #FFFFFF;
  --color-text-main: #000000;
  --color-input-border-primary: #AAAAAA;
  /* original btn text color provided in spec had a contrast of 2.1, not accessible */
  /* --color-btn-text-primary: #B7D0F1; */
  --color-btn-primary: #4E8FDF;
  --color-btn-text-primary: #FFFFFF;
  --color-btn-primary-hover: yellow;
  --space-size-xs: .5rem;
  --space-size-sm: 1rem;
  --space-size-md: 2rem;
  --space-size-lg: 3rem;
  --radius-primary: 8px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
  --outline-primary: var(--color-btn-primary);
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

em {
  font-style: normal
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

input {
  font-family: HK Grotesk;
}

button:active, 
button:focus-visible,
input:active,
input:focus-visible {
  outline: double var(--outline-primary);
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Page structure */
body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 86vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
