.typeahead--wrapper {
    height: var(--space-size-lg);
    min-height: 40px;
}

.form--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 500px;
    
    @media(width >= 600px) {
        column-gap: var(--space-size-xs);
        grid-template-columns: 2fr 1fr;
    }
}

.form--input {
    /* START: set the focus,active states to match input border */
    --outline-primary: var(--color-input-border-primary);
    /* END */
    border: 2px solid var(--color-input-border-primary);
    border-radius: var(--radius-primary);
    padding: var(--space-size-sm);
    /* width: 60%; */
}

.form--input::placeholder {
    color: var(--color-input-border-primary);
    font: 1rem var(--font-family);
}

.form--input-active {
    border-radius: var(--radius-primary) var(--radius-primary) 0 0;
    border-bottom: 0;
}

.suggest--wrapper {
    color: var(--color-input-border-primary);
    border: 2px solid var(--color-input-border-primary);
    border-radius: 0 0 var(--radius-primary) var(--radius-primary);
    padding-inline: var(--space-size-sm);
    grid-row-start: 2;
}

.suggest--wrapper-empty {
    display: none;
}

.suggest--item {
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    text-underline-offset: var(--space-size-xs);
    padding-block: var(--space-size-xs);
    cursor: pointer;
}

.suggest--item:hover {
    text-decoration: underline solid currentColor;
}

.suggest--item-active {
    text-decoration: underline solid currentColor;
}

.suggest--item-highlight {
    font-style: normal;
    color: var(--color-text-main);
}